body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    'Helvetica Neue', sans-serif; /* Add Plus Jakarta Sans as the primary font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.MuiInput-root .MuiInput-variantOutlined .MuiInput-colorNeutral .MuiInput-sizeMd .Mui-focused .css-w7zzjh-JoyInput-root::before{
  border-color: rgb(22, 22, 22) !important;
  border: none;
  box-shadow: none;

}